.header { 
    padding: 0;
    border-bottom: 1px solid #ECECEC;
}
.logo {
    display:flex;
    align-items: center;
    margin-right: 93px;
    color:var(--black-text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    &__studio {
        margin-bottom: 20px;
        color: var(--primary-white-color);
        margin-right: 0;
    }
    &__accent {
        color: var(--accent-text-color);
    }
}

.header-navigation {
    &--menu {
        display: none;
    }
    @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
}
}

.header-nav__list {
   &.add {
        margin-bottom: 64px;
    }
    @media screen and (min-width: $tablet) {
        display: flex;
    margin-left: auto;
    }
    &--contact {
            display: none;
            @media screen and (min-width: $tablet) and (max-width: 1199px) {
            display: flex;
            flex-direction: column;
            }
            @media screen and (min-width: 1200px) {
                display: flex;
            }
    }
}

.header-nav__item {
    &:not(:first-child) {
        margin-top: 35px;
        @media screen and (min-width: $tablet) {
            margin-top: 0; 
        }
    }
    transform: translateY(1px);

    &:not(:last-child) {
    @media screen and (min-width: $tablet) {
    margin-right: 50px;
    }
}
}
.header-nav__items {
    &:not(:last-child) {
    @media screen and (min-width: $desktop) {
        margin-right: 30px;
    }
}
}
.header-nav__link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--black-text-color);
    @media screen and (min-width: $tablet) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::before {
        position: absolute;
        content: "";
        left: 50%;
        bottom: 0;
        width: 0;
        height: 4px;
        background-color: var(--accent-text-color);
        border-radius: 2px;
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(-50%);
        transform: translateY();
    }
    &:hover,
    &:focus {
        color: var(--accent-text-color);
        &::before {
            background-color: var(--accent-text-color);
            width: 100%;
        }
    }
}
}

.header__container {
    @extend %display;
    height: 60px;
    @media screen and (min-width: $tablet) {
        height: 80px;
    } 
}
.header-nav__link--current {
    color: var(--accent-text-color);
    &::before {
        @media screen and (min-width: $tablet) {
        color: var(--accent-text-color);
        width: 100%;
        }
    }
}

.header-nav__contact {
    display: block;
    font-size: 30px;
    line-height: 1.17;
    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.14;
    }
    &.mail {
        font-size: 24px;
        line-height: 1.16;
    }
    &--tel {
        color: var(--accent-text-color);
        @media screen and (min-width: $tablet) {
            color: var(--primary-text-color);
        }
    } 
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-top: 10px;
        margin-left: auto;
    }
}

.header-nav__icon {
    margin-right: 10px;
    fill: currentColor;
}
.header__mobile {
    @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--primary-white-color);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    &.is-open {
            transform: translateX(0);
    }
    @media screen and (min-width: $tablet) {
        display: none;
    }
}
.menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 16px;
}
.menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  @media screen and (min-width: $tablet) {
    display: none;
}
}

.menu-mobile__list {
    display: flex;
    flex-wrap: wrap;
}
.menu-mobile__item {
    &:not(:last-child) {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}
.menu-mobile__social {
    color: var(--accent-text-color);
}

