.secondary {
    padding-bottom: 0;
    background-color: var(--primary-white-color);
    &__list {
        display: flex;
    }
    &__item {
        width: 270px;
    margin-right: 30px;
    }
    &__icon {
        @extend %display;
    height: 120px;
    background-color: var(--back-color);
    border-radius: 4px;
    margin-bottom: 30px;
    }
    &__text {
        margin-top: 10px;
    font-size: 14px;
    line-height: 1.7;
    }
    &__title {
        color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    }
}
.hiden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
/* спрятать заголовок */
/*.hiden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }*/