.people {
    background-color: var(--back-color);
    &__list {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
            gap: 30px;
        }
    }
    &__item { 
        width: 450px;
        @media screen and (min-width: $tablet) {
            width: 354px;
        }
        @media screen and (min-width: $desktop) {
            width: 270px;
            margin-right: 30px;
        }
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    &__description {
        margin-top: 30px;
    margin-bottom: 16px;
    background-color: var(--primary-white-color);  
    text-align: center;
    }
    &__name {
        margin-bottom: 10px;
        color:var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
    }
    &__profession {
        color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
    }
}

.peoplet__item:last-child {
    margin-right: 0;
}
.social {
    display: flex;
    justify-content: center;
    margin: 0 32px 30px;
    border-radius: 50%;
    &__link {
        @extend %display;
    line-height: 0;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--primary-white-color);
        background-color: var(--accent-text-color);
        cursor: pointer;
    }
  }
  @media screen and (min-width: $mobile) {
    padding-bottom: 24px;
  }
}
.social__item:not(:last-child) {
    margin-right: 10px;
}