body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    &.active {
        overflow: hidden;
    }
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    padding-left: 15px;
    padding-right: 15px; 
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 480px) {
        width: 480px;
    }    
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
} 
.section {
    background-color: var(--primary-white-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}